/* Font for the Links and Navigation links 
font-family: 'Marcellus', serif; */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* Font for the Paragraghs 
font-family: 'Karma', serif; */
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
/* Font for the Titles and Headings 
font-family: 'Old Standard TT', serif; */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');



/* Global Styles */
a, button {
  font-family: 'Marcellus', serif;
}

p {
  font-family: 'Karma', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Old Standard TT', serif;
}


/* NavBar Styles */
nav.bg-light {
  /* background-color: #451F25 !important; */
  background-color: #451F25 !important;
}

nav li a, a.navbar-brand{
  color: #fff !important;
}

a.navbar-brand {
  font-size: 2em;
  margin: 0em 2em;
}

li a {
  margin-right: 1em;
}

li a:hover {
  color: #EEEEDB;
  text-decoration: underline;
}

li a:focus {
  color: #C7C7A9;
  text-decoration: underline;
}










/* Styling the footer section */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #451F25;
  padding: 0.3em;
}

.mt-2em {
  margin: 1.5em 0em 1.5em 0em !important;
}

.icons {
  display: inline !important;
}

.futa {
  margin: 1em;
  color: #C7C7A9 !important;
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

.futa:hover {
  color: #fff !important;
}








/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  a.navbar-brand {
    font-size: 1.8rem;
    margin: 0em;
  }

  
}