{% extends 'memoir/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <!-- head section to hold our page specific title -->
  <head>

    <link rel="stylesheet" href="{% static 'memoir/gallery.css' %}">

    <title>
      Gallery
    </title>

  </head>
  <body>
    
    <!-- <div class="container-fluid">
      <h1>
        Memoir Gallery Page
      </h1>
    </div>     -->

    <!-- {% for memory in memories %}
      <h2>
        {{ memory.img_title }}

       
      </h2>
      <p>
        By {{ memory.source }} on {{ memory.date_posted }}
      </p>
      <p>
        {{ memory.description }}
      </p>

      

    {% endfor %}

    <h3>
      Yes. Yes. Yes.
    </h3> -->


    {% for memory in memories %}

    <div class="container">

      

      <div class="row justify-content-around flex">
        <!-- <div class="g-col-4 center"> -->

          <div class="card col-4 center">

            
    
            <img src="{{ memory.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">       
              <h5 class="card-title">{{ memory.img_title }}</h5>
              <p class="card-text">{{ memory.description }}</p>
              <a href="#" class="btn btn-primary">Read more...</a>
              <br>                
              <small>Photo dumped <i>{{ memory.date_posted }}</i></small>                  
            </div>
    
            
    
          </div>

        <!-- </div> -->
      </div>

      

    </div>

    {% endfor %}

    



    
  </body>
</html>

{% endblock content %}