{% extends 'memoir/base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <!-- head section to hold our page specific title -->
  <head>

    <title>
      Gallery
    </title>

  </head>
  <body>
    
    <div class="container">
      <h1>
        Memoir Gallery Page
      </h1>
    </div>    

    <!-- {% for memory in memories %}
      <h2>
        {{ memory.img_title }}

       
      </h2>
      <p>
        By {{ memory.source }} on {{ memory.date_posted }}
      </p>
      <p>
        {{ memory.description }}
      </p>

      

    {% endfor %}

    <h3>
      Yes. Yes. Yes.
    </h3> -->


    <div class="container">

      <div class="row">
        <div class="col-4">

          <div class="card" style="width: 18rem;">

            {% for memory in memories %}
    
            <img src="{{ memory.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">       
              <h5 class="card-title">{{ memory.img_title }}</h5>
              <p class="card-text">{{ memory.description }}</p>
              <small>Photo dumped <i>{{ memory.date_posted }}</i></small><br>
              <a href="#" class="btn btn-primary">Read more...</a>                    
            </div>
    
            {% endfor %}
    
          </div>

        </div>
      </div>

    </div>

    



    
  </body>
</html>

{% endblock content %}