{% extends 'memoir/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <!-- head section to hold our page specific title -->
  <head>

    <link rel="stylesheet" href="{% static 'memoir/home.css' %}">

    <title>
      Home
    </title>

  </head>
  <body>
    
    <div class="container-fluid">

      <div class="merge">

        <h1>
          Welcome to MyMemoir...
        </h1>
        <a href="{% url 'Memoir~Gallery' %}">
          <button type="button" class="btn btn-primary btn-lg">CHECK IT OUT</button>
        </a>

      </div>

    </div>
    
    
  </body>
</html>

{% endblock content %}